/* .header {
  width: 1440;
  height: 72;
  display: flex;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  padding-right: 64;
  padding-left: 64;
}

.container {
  width: 1312;
  height: 40;
  display: flex;
  align-items: cente;
  justify-content: space-between;
}

.logo {
  width: 124;
  height: 20;
  gap: 24;
  display: flex;
  align-items: center;
}

.nav {
  width: 470;
  height: 40;
  gap: 16;
}

.navItem {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav {
  display: none;
}

.navItem {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navLink {
  display: flex;

  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.burgerButton,
.closeButton {
  display: block;
  background: none;
  cursor: pointer;
  color: #000;
  border: 2px solid #000;
  border-radius: 6px;
  padding: 8px;
  background-color: #f5f5f5;
  width: 40px;
  height: 40px;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.navOpen {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  z-index: 1000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.registerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  height: 37px;
  padding: 0;
  background: #8808cc;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  line-height: 1;
}

.menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}


/*! tablet version*/
@media (min-width: 768px) {
  .burgerButton {
    display: block;
  }

  .nav {
    display: none;
  }

  .navList {
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
  }

  .navItem {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navLink {
    padding: 15px 20px;
  }

  .centeredNavLink {
    width: 100%;
    text-align: center;
  }

  .navOpen {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    z-index: 1000;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
  }

  .menuHeader {
    width: 100%;
    margin-bottom: 16px;
  }

  .registerButton {
    width: 158px;
    max-width: 100%;
    height: 37px;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*!desktop*/
@media (min-width: 1440px) {
  .burgerButton {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: block;
    position: static;
    width: auto;
    background-color: transparent;
    border-top: none;
  }

  .navList {
    flex-direction: row;
    column-gap: 32px;
    row-gap: 0;
    align-items: center;
  }

  .navItem {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navLink {
    padding: 10px 16px;
  }

  .centeredNavLink {
    width: auto;
    text-align: center;
  }

  .registerButton {
    width: 175px;
    height: 40px;
    padding: 8 20px;
  }
}